service:
  loam:
    telnet:
      nodePort: 32023
      port: 2323
      targetPort: 2323
    ssh:
      nodePort: 32221
      port: 2222
      targetPort: 2222
    snmp1:
      nodePort: 32164
      port: 164
      targetPort: 164
  loamA:
    console:
      nodePort: 32000
      port: 2000
      targetPort: 2000
  loamB:
    console:
      nodePort: 32000
      port: 2000
      targetPort: 2000
  lmg:
    console:
      nodePort: 32000
      port: 2000
      targetPort: 2000
  llb:
    console:
      nodePort: 32000
      port: 2000
      targetPort: 2000
image:
  repository: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}
  name: lmg
  tag: {{paco_sw.upf.lmg.tag}}
  pullPolicy: IfNotPresent
  imagePullSecret: {{paco_sw.harbor.name}}
nasc:
  enable: {{paco_sw.upf.nasc.enable}}
  imageRepository: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}
  imageName: nasc
  imageTag: {{paco_sw.upf.nasc.tag}}
  imagePullPolicy: IfNotPresent
logging:
  enable: {{paco_sw.upf.logging.enable}}
  imageRepository: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}
  imageName: lmg
  imageTag: {{paco_sw.upf.logging.tag}}
  imagePullPolicy: IfNotPresent
awsSideCar:
  enable: {{paco_sw.upf.awsSideCar.enable}}
  imageRepository: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}
  imageName: aws_sidecar_lmg
  imageTag: {{paco_sw.upf.awsSideCar.tag}}
  imagePullPolicy: Always
multus:
  lmg:
    numDevices: {{ hostvars['worker0']['eth_name']|length * paco_sw.upf.multus }}
    netNames:
{% for pf in (hostvars['worker0']['eth_name']) %}
    - hostdevice-net-tor{{loop.index}}-int
    - hostdevice-net-tor{{loop.index}}-ext
    - hostdevice-net-tor{{loop.index}}-n6
{% endfor %}
  llb:
    numDevices: {{ hostvars['worker0']['eth_name']|length * 3 * paco_sw.upf.llb.enable }}
    netNames:
  resourceName: intel.com/intel_sriov_netdevice
  attachDef:
{% for pf in (hostvars['worker0']['eth_name']) %}  
  - name: hostdevice-net-tor{{loop.index}}-int
    cniVersion: 0.3.1
    vlan: {{ multus_networks.multus_3gpp_internal.vlan}}
    resourceName: gke/sriov_iavf_{{loop.index}}
    type: {{ paco_sw.upf.network.type}}
  - name: hostdevice-net-tor{{loop.index}}-ext
    cniVersion: 0.3.1
    resourceName: gke/sriov_iavf_{{loop.index}}
    vlan: {{ multus_networks.multus_3gpp_external.vlan}}
    type: {{ paco_sw.upf.network.type}}
  - name: hostdevice-net-tor{{loop.index}}-n6
    cniVersion: 0.3.1
    resourceName: gke/sriov_iavf_{{loop.index}}
    vlan: {{ multus_networks.multus_gi_n6.vlan}}
    type: {{ paco_sw.upf.network.type}}
{% endfor %}
  groFlag: 1
  dsfEnable: 0
gwConfig: upf
gwRedundancy:
  active: 1
lmgScale:
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 90
llbScale:
  minReplicas: 0
  maxReplicas: 0
  targetCPUUtilizationPercentage: 90
resources:
  loam:
    cpu: {{ paco_sw.upf.loam.cpu}}
    memory: {{ paco_sw.upf.loam.memory}}
    nodeSelector: {}
  lmg:
    cpu: {{ paco_sw.upf.lmg.cpu}}
    memory: {{ paco_sw.upf.lmg.memory}}
    multus:
{% for pf in (hostvars['worker0']['eth_name']) %}  
    - resourceName: gke/sriov_iavf_{{ loop.index }}
      numDevices: {{ paco_sw.upf.multus }}
{% endfor %}
    nodeSelector: {}
  llb:
    cpu: {{ paco_sw.upf.llb.cpu}}
    memory: {{ paco_sw.upf.llb.memory}}
    multus:
{% for pf in (hostvars['worker0']['eth_name']) %}  
    - resourceName: gke/sriov_iavf_{{ loop.index }}
      numDevices: {{ paco_sw.upf.multus * paco_sw.upf.llb.enable }}
{% endfor %}
  nasc:
    cpu: {{ paco_sw.upf.nasc.cpu}}
    memory: {{ paco_sw.upf.nasc.memory}}
  logging:
    cpu: {{ paco_sw.upf.logging.cpu}}
    memory: {{ paco_sw.upf.logging.memory}}
  awsSideCar:
    cpu: {{ paco_sw.upf.awsSideCar.cpu}}
    memory: {{ paco_sw.upf.awsSideCar.memory}}
storage:
#pvCreation to be set to 0 in case Persistent Volume already created
  pvCreation: 1
  parentPath: /mnt/glusterfs/
  pvLogsName: logs-volume-upf
  pvStorageClass: manual
  pvLogsClaimName: logs-volume-claim
  pvSize: 1Gi
  cfSize: 1Gi
  cfAInfo:
  - pvName: upf-cf1-a-volume
    pvcName: cf1-a-volume-claim
  - pvName: upf-cf2-a-volume
    pvcName: cf2-a-volume-claim
  cfBInfo:
  - pvName: upf-cf1-b-volume
    pvcName: cf1-b-volume-claim
  - pvName: upf-cf2-b-volume
    pvcName: cf2-b-volume-claim
rtScheduling:
  enable: 0
  cgroupHostPath: /sys/fs/cgroup/cpu,cpuacct/
loamB:
  enable: 0
podsecuritypolicy:
  create: false
isa:
  nat:
    enable: {{ paco_sw.upf.nat.enable }}
    routerId: 2
peers:
  smf:
    ip: {{ multus_networks.multus_3gpp_internal.itfce_cidr[1] | ansible.netcommon.nthhost(60) }}
    interface: sigRefPointIf 
plmn:
- mcc: "234"
  mnc: "100"
uuid: a72d6347-190c-49d8-8ad4-bda4ed3018ed
network:
  interface:
  - name: sigRefPointIf
    ip: {{ multus_networks.multus_3gpp_internal.itfce_cidr[1] | ansible.netcommon.nthhost(70) }}
    subnet: {{ multus_networks.multus_3gpp_internal.itfce_cidr[1] | ansible.netcommon.ipaddr('prefix') }}
    port: 1/2/1
    bfd: false
  - name: sigExt
    ip: {{ multus_networks.multus_3gpp_external.itfce_cidr[1] | ansible.netcommon.nthhost(70) }}
    subnet: {{ multus_networks.multus_3gpp_internal.itfce_cidr[1] | ansible.netcommon.ipaddr('prefix') }}
    port: 1/2/2
    bfd: false
  - name: system
    ip: 10.20.30.70
    subnet: 32
    port: system
    bfd: false
  staticRoute:
  - subnet: 0.0.0.0/0
    nextHop:
    - {{ multus_networks.multus_3gpp_external.itfce_cidr[1] | ansible.netcommon.nthhost(1) }}
    bfd: false
  bgp:
apn:
- name: demo.nokia.mnc100.mcc234.gprs
  uepool:
  - router: vprn1
    name: pool1
uepool:
- router: vprn1
  ipv4Prefix: {{ multus_networks.multus_gi_n6.pool_cidr | ansible.netcommon.ipaddr('net') }}
vprn:
- id: 1
  ipLocalPool:
  - name: pool1
    ipv4Prefix: {{ multus_networks.multus_gi_n6.pool_cidr | ansible.netcommon.ipaddr('net') }}
  nat:
    type: inside
- id: 2
  interface:
  - name: sgi
    ip: {{ multus_networks.multus_gi_n6.itfce_cidr[1] | ansible.netcommon.nthhost(70) }}
    subnet: {{ multus_networks.multus_gi_n6.itfce_cidr[1] | ansible.netcommon.ipaddr('prefix') }}
    sap: 1/2/3
    bfd: false
  nat:
    type: outside
    addressRange:
      start: {{ multus_networks.multus_gi_n6.itfce_cidr[1] | ansible.netcommon.nthhost(71) }}
      end: {{ multus_networks.multus_gi_n6.itfce_cidr[1] | ansible.netcommon.nthhost(71) }}
  staticRoute:
  - subnet: 0.0.0.0/0
    nextHop:
    - {{ multus_networks.multus_gi_n6.itfce_cidr[1] | ansible.netcommon.nthhost(1) }}
    bfd: false
cnfName: upf
