---
tags:
  all: true
  amms: true
  dbs: true
  emms: false
  ipds: true
  ipps: false
  necc: true
  paps: false
  networkcrd: true
  pvc: true
global:
  env_name: amf
  k8s_apiserver_endpoints:
    - {{ cni_networks.svc_cidr | ansible.netcommon.nthhost(1) }}
  k8s_apiserver_port: 443
  env_separator: '-'
  ne_type: amf
  cmm_uuid: ef4c4186-275b-40ee-afb9-6aeaf317b042
  necccount: 2
  storageclass: {{ storage.csi}} 
  timezone: Europe/Brussels
  stdout_logging: true
  aws_ip_mgmt: false
  aws_ip_mgmt_image: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}/aws_ip_mgmt:2.3
  disable_hpa: false
  disable_apparmor: true
  rbac_resourcename:
  openshift: false
  cbam: false
  bcmt: false
  multi_container: false
  cluster_cidr: []
  scale:
    amms:
      minReplicas: 2
      maxReplicas: 3
      cpu_utilization: 80
      memory_utilization: 91
    emms:
      minReplicas: 0
      maxReplicas: 0
      cpu_utilization: 80
      memory_utilization: 91
    dbs:
      minReplicas: 2
      maxReplicas: 3
      cpu_utilization: 80
      memory_utilization: 91
    ipds:
      minReplicas: 2
      maxReplicas: 2
      cpu_utilization: 80
    ipps:
      minReplicas: 0
      maxReplicas: 0
      cpu_utilization: 81
    paps:
      minReplicas: 0
      maxReplicas: 0
      cpu_utilization: 82
  kubeDNS:
    ip: 10.96.0.10
  prometheus:
    namespaceLabel:
      permission: talk-to-all
    podLabel:
      app: Prometheus
  sbi_net_container_native: false
  sbi_net_container_lb: istio
  pvc_hostpath_prefix:
  skipNeccPvcCleanupJob: true
  seLinuxOptions:
    user: false
    role: false
    type: false
    level: false
  dbs_duplex:  false
  neccvolumes:
    pcmd_pvc: 1Gi
    perf_pvc: 1Gi
    logs_pvc: 1Gi
    kafka_pvc: 1Gi
    influx_pvc: 1Gi
    redis_pvc: 1Gi
    charging_pvc: 1Gi
    pm_pvc: 1Gi
    shared_pvc: 1Gi
    store_pvc: 5Gi
    mariadb_pvc: 5Gi
  oam:
    type: "ipv4"
    ipv4:
      ip:
        - {{ multus_networks.multus_mgmt.itfce_cidr[0] | ansible.netcommon.nthhost(151) }}
        - {{ multus_networks.multus_mgmt.itfce_cidr[0] | ansible.netcommon.nthhost(152) }}
        - {{ multus_networks.multus_mgmt.itfce_cidr[0] | ansible.netcommon.nthhost(153) }}
        - {{ multus_networks.multus_mgmt.itfce_cidr[0] | ansible.netcommon.nthhost(154) }}
      floating_ip: {{ multus_networks.multus_mgmt.itfce_cidr[0] | ansible.netcommon.nthhost(200) }}
      cidr: {{ multus_networks.multus_mgmt.itfce_cidr[0] | ansible.netcommon.ipaddr('net') }}
      gw: {{ multus_networks.multus_mgmt.itfce_cidr[0] | ansible.netcommon.nthhost(1) }}
    interface: eth2
    host_interface: {{multus_networks.ipvlan_name}}.{{ multus_networks.multus_mgmt.vlan[0] }}
  external_cni: ipvlan
  external:
    ipds:
    - name: 3GPP_External
      type: ipv4
      host_interface: {{multus_networks.ipvlan_name}}.{{multus_networks.multus_3gpp_external.vlan[0]}}
      interface: eth3
      ipv4:
        cidr: {{ multus_networks.multus_3gpp_external.itfce_cidr[0] | ansible.netcommon.ipaddr('net') }}
        gw: {{ multus_networks.multus_3gpp_external.itfce_cidr[0] | ansible.netcommon.nthhost(1) }}
        ip:
          - {{ multus_networks.multus_3gpp_external.itfce_cidr[0] | ansible.netcommon.nthhost(151) }}
          - {{ multus_networks.multus_3gpp_external.itfce_cidr[0] | ansible.netcommon.nthhost(152) }}
          - {{ multus_networks.multus_3gpp_external.itfce_cidr[0] | ansible.netcommon.nthhost(153) }}
          - {{ multus_networks.multus_3gpp_external.itfce_cidr[0] | ansible.netcommon.nthhost(154) }}
    - name: 3GPP_SBA
      type: ipv4
      host_interface: {{multus_networks.ipvlan_name}}.{{multus_networks.multus_3gpp_sba.vlan[0]}}
      interface: eth4
      ipv4:
        cidr: {{ multus_networks.multus_3gpp_sba.itfce_cidr[0] | ansible.netcommon.ipaddr('net') }}
        gw: {{ multus_networks.multus_3gpp_sba.itfce_cidr[0] | ansible.netcommon.nthhost(1) }}
        ip:
          - {{ multus_networks.multus_3gpp_sba.itfce_cidr[0] | ansible.netcommon.nthhost(151) }}
          - {{ multus_networks.multus_3gpp_sba.itfce_cidr[0] | ansible.netcommon.nthhost(152) }}
          - {{ multus_networks.multus_3gpp_sba.itfce_cidr[0] | ansible.netcommon.nthhost(153) }}
          - {{ multus_networks.multus_3gpp_sba.itfce_cidr[0] | ansible.netcommon.nthhost(154) }}
  secrets:
    users:
      cmm_passwd: Nuage_7890
      cbamuser_passwd:
      sam5620_passwd:
      cgw_passwd:
      dcae_dfc_passwd:
      rsp_passwd:
      diagnostic_passwd:
      trainee_passwd:
      ca4mn_passwd:
      cmmsecurity_passwd:
      root_passwd:
  containers:
    dbs:
      imageName: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}/dbs:{{paco_sw.amf.dbs.tag}}
      resources:
        cpu: {{paco_sw.amf.dbs.cpu}}
        memory: {{paco_sw.amf.dbs.memory}}
      nodeSelector: {}
      antiaffinity: 
        - dbs
      initialDelaySeconds: 15
      periodSeconds: 20
    emms_amms:
      imageName: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}/cpps:{{paco_sw.amf.emms_amms.tag}}
      resources:
        cpu: {{paco_sw.amf.emms_amms.cpu}}
        memory: {{paco_sw.amf.emms_amms.memory}}
      nodeSelector: {}
      antiaffinity:
        - amms
      initialDelaySeconds: 5
      periodSeconds: 20
    ipds:
      imageName: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}/ipds:{{paco_sw.amf.ipds.tag}}
      resources:
        cpu: {{paco_sw.amf.ipds.cpu}}
        memory: {{paco_sw.amf.ipds.memory}}
      nodeSelector: {}
      antiaffinity:
        - ipds
      initialDelaySeconds: 30
      periodSeconds: 20
    ipps:
      imageName: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}/ipps:{{paco_sw.amf.ipps.tag}}
      resources:
        cpu: {{paco_sw.amf.ipps.cpu}}
        memory: {{paco_sw.amf.ipps.memory}}
      nodeSelector: {}
      antiaffinity: []
      initialDelaySeconds: 30
      periodSeconds: 20
    necc:
      imageName: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}/necc:{{paco_sw.amf.necc.tag}}
      resources:
        cpu: {{paco_sw.amf.necc.cpu}}
        memory: {{paco_sw.amf.necc.memory}}
      nodeSelector: {}
      pvc: true
      antiaffinity:
        - necc
      initialDelaySeconds: 120
      periodSeconds: 20
    paps:
      imageName: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}/paps:{{paco_sw.amf.paps.tag}}
      resources:
        cpu: {{paco_sw.amf.paps.cpu}}
        memory: {{paco_sw.amf.paps.memory}}
      nodeSelector: {}
      antiaffinity: []
      initialDelaySeconds: 30
      periodSeconds: 20
cmm-config-map:
  security_level: 3
  ipds_env_multi: false
  cmm_env_l3ns: false