service:
  loam:
    telnet:
      nodePort: 32023
      port: 2323
      targetPort: 2323
    ssh:
      nodePort: 32221
      port: 2222
      targetPort: 2222
    snmp1:
      nodePort: 32164
      port: 164
      targetPort: 164
  loamA:
    console:
      nodePort: 32000
      port: 2000
      targetPort: 2000
  loamB:
    console:
      nodePort: 32000
      port: 2000
      targetPort: 2000
  lmg:
    console:
      nodePort: 32000
      port: 2000
      targetPort: 2000
  llb:
    console:
      nodePort: 32000
      port: 2000
      targetPort: 2000
image:
  repository: {{harbor.server}}/{{harbor.image_dir}}
  name: lmg
  tag: {{paco_sw.upf.lmg.tag}}
  pullPolicy: IfNotPresent
  imagePullSecret: {{harbor.name}}
nasc:
  enable: {{paco_sw.upf.nasc.enable}}
  imageRepository: {{harbor.server}}/{{harbor.image_dir}}
  imageName: nasc
  imageTag: {{paco_sw.upf.nasc.tag}}
  imagePullPolicy: IfNotPresent
logging:
  enable: {{paco_sw.upf.logging.enable}}
  imageRepository: {{harbor.server}}/{{harbor.image_dir}}
  imageName: lmg
  imageTag: {{paco_sw.upf.logging.tag}}
  imagePullPolicy: IfNotPresent
awsSideCar:
  enable: {{paco_sw.upf.awsSideCar.enable}}
  imageRepository: {{harbor.server}}/{{harbor.image_dir}}
  imageName: aws_sidecar_lmg
  imageTag: {{paco_sw.upf.awsSideCar.tag}}
  imagePullPolicy: Always
multus:
  lmg:
    numDevices: 6
    netNames:
    - hostdevice-net-tor1-int
    - hostdevice-net-tor1-ext
    - hostdevice-net-tor1-n6
    - hostdevice-net-tor2-int
    - hostdevice-net-tor2-ext
    - hostdevice-net-tor2-n6
  llb:
    numDevices: 0
    netNames:
  resourceName: intel.com/intel_sriov_netdevice
  attachDef:
  - name: hostdevice-net-tor1-int
    cniVersion: 0.3.1
    vlan: {{ paco_sw.upf.network.vlan[0]}}
    resourceName: gke/sriov_iavf_1
    type: {{ paco_sw.upf.network.type}}
  - name: hostdevice-net-tor1-ext
    cniVersion: 0.3.1
    resourceName: gke/sriov_iavf_1
    vlan: {{ paco_sw.upf.network.vlan[1]}}
    type: {{ paco_sw.upf.network.type}}
  - name: hostdevice-net-tor1-n6
    cniVersion: 0.3.1
    resourceName: gke/sriov_iavf_1
    vlan: {{ paco_sw.upf.network.vlan[2]}}
    type: {{ paco_sw.upf.network.type}}
  - name: hostdevice-net-tor2-int
    cniVersion: 0.3.1
    resourceName: gke/sriov_iavf_2
    vlan: {{ paco_sw.upf.network.vlan[0]}}
    type: {{ paco_sw.upf.network.type}}
  - name: hostdevice-net-tor2-ext
    cniVersion: 0.3.1
    resourceName: gke/sriov_iavf_2
    vlan: {{ paco_sw.upf.network.vlan[1]}}
    type: {{ paco_sw.upf.network.type}}
  - name: hostdevice-net-tor2-n6
    cniVersion: 0.3.1
    resourceName: gke/sriov_iavf_2
    vlan: {{ paco_sw.upf.network.vlan[2]}}
    type: {{ paco_sw.upf.network.type}}
  groFlag: 1
  dsfEnable: 0
gwConfig: upf
gwRedundancy:
  active: 1
lmgScale:
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 90
llbScale:
  minReplicas: 0
  maxReplicas: 0
  targetCPUUtilizationPercentage: 90
resources:
  loam:
    cpu: 4
    memory: 4Gi
    nodeSelector: {}
  lmg:
    cpu: 6
    memory: 16Gi
    multus:
    - resourceName: gke/sriov_iavf_1
      numDevices: 3
    - resourceName: gke/sriov_iavf_2
      numDevices: 3
    nodeSelector: {}
  llb:
    cpu: 6
    memory: 16Gi
    multus:
    - resourceName: gke/sriov_iavf_1
      numDevices: 0
    - resourceName: gke/sriov_iavf_2
      numDevices: 0
  nasc:
    cpu: 100m
    memory: 100Mi
  logging:
    cpu: 100m
    memory: 100Mi
  awsSideCar:
    cpu: 100m
    memory: 100Mi
storage:
#pvCreation to be set to 0 in case Persistent Volume already created
  pvCreation: 1
  parentPath: /mnt/glusterfs/
  pvLogsName: logs-volume-upf
  pvStorageClass: manual
  pvLogsClaimName: logs-volume-claim
  pvSize: 1Gi
  cfSize: 1Gi
  cfAInfo:
  - pvName: upf-cf1-a-volume
    pvcName: cf1-a-volume-claim
  - pvName: upf-cf2-a-volume
    pvcName: cf2-a-volume-claim
  cfBInfo:
  - pvName: upf-cf1-b-volume
    pvcName: cf1-b-volume-claim
  - pvName: upf-cf2-b-volume
    pvcName: cf2-b-volume-claim
rtScheduling:
  enable: 0
  cgroupHostPath: /sys/fs/cgroup/cpu,cpuacct/
loamB:
  enable: 0
podsecuritypolicy:
  create: false
isa:
  nat:
    enable: true
    routerId: 2
peers:
  smf:
    ip: 10.1.21.60
    interface: sigRefPointIf 
plmn:
- mcc: "234"
  mnc: "100"
uuid: a72d6347-190c-49d8-8ad4-bda4ed3018ed
network:
  interface:
  - name: sigRefPointIf
    ip: 10.1.21.70
    subnet: 24
    port: 1/2/1
    bfd: false
  - name: sigExt
    ip: 10.1.22.70
    subnet: 24
    port: 1/2/2
    bfd: false
  - name: system
    ip: 10.20.30.70
    subnet: 32
    port: system
    bfd: false
  staticRoute:
  - subnet: 0.0.0.0/0
    nextHop:
    - 10.1.22.1
    bfd: false
  bgp:
apn:
- name: demo.nokia.mnc100.mcc234.gprs
  uepool:
  - router: vprn1
    name: pool1
uepool:
- router: vprn1
  ipv4Prefix: 10.0.128.0/17
vprn:
- id: 1
  ipLocalPool:
  - name: pool1
    ipv4Prefix: 10.0.128.0/17
  nat:
    type: inside
- id: 2
  interface:
  - name: sgi
    ip: 10.1.24.70
    subnet: 24
    sap: 1/2/3
    bfd: false
  nat:
    type: outside
    addressRange:
      start: 10.1.24.71
      end: 10.1.24.71
  staticRoute:
  - subnet: 0.0.0.0/0
    nextHop:
    - 10.1.24.1
    bfd: false
cnfName: upf
