service:
  loam:
    telnet:
      nodePort: 31023
      port: 2323
      targetPort: 2323
    ssh:
      nodePort: 31221
      port: 2222
      targetPort: 2222
    snmp1:
      nodePort: 31164
      port: 164
      targetPort: 164
  loamA:
    console:
      nodePort: 31000
      port: 2000
      targetPort: 2000
  loamB:
    console:
      nodePort: 31000
      port: 2000
      targetPort: 2000
  lmg:
    console:
      nodePort: 31000
      port: 2000
      targetPort: 2000
  llb:
    console:
      nodePort: 31000
      port: 2000
      targetPort: 2000
image:
  repository: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}
  name: lmg
  tag: {{paco_sw.smf.lmg.tag}}
  pullPolicy: IfNotPresent
  imagePullSecret: {{paco_sw.harbor.name}}
nasc:
  enable: {{paco_sw.smf.nasc.enable}}
  imageRepository: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}
  imageName: nasc
  imageTag: {{paco_sw.smf.nasc.tag}}
  imagePullPolicy: IfNotPresent
logging:
  enable: {{paco_sw.smf.logging.enable}}
  imageRepository: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}
  imageName: lmg
  imageTag: {{paco_sw.smf.logging.tag}}
  imagePullPolicy: IfNotPresent
awsSideCar:
  enable: {{paco_sw.smf.awsSideCar.enable}}
  imageRepository: {{paco_sw.harbor.server}}/{{paco_sw.harbor.image_dir}}
  imageName: aws_sidecar_lmg
  imageTag: {{paco_sw.smf.awsSideCar.tag}}
  imagePullPolicy: IfNotPresent
multus:
  lmg:
    numDevices: {{ hostvars['worker0']['eth_name']|length * paco_sw.smf.multus }}
    netNames:
{% for pf in (hostvars['worker0']['eth_name']) %}  
    - hostdevice-net-tor{{loop.index}}-int
    - hostdevice-net-tor{{loop.index}}-sba
{% endfor %}
  llb:
    numDevices: 0
    netNames:
  resourceName: intel.com/intel_sriov_netdevice
  attachDef:
{% for pf in (hostvars['worker0']['eth_name']) %} 
  - name: hostdevice-net-tor{{loop.index}}-int
    cniVersion: 0.3.1
    vlan: {{ multus_networks.multus_3gpp_internal.vlan}}
    resourceName: gke/sriov_iavf_{{loop.index}}
    type: {{ paco_sw.upf.network.type}}
  - name: hostdevice-net-tor{{loop.index}}-sba
    cniVersion: 0.3.1
    resourceName: gke/sriov_iavf_{{loop.index}}
    vlan: {{ multus_networks.multus_3gpp_sba.vlan}}
    type: {{ paco_sw.upf.network.type}}
{% endfor %}
  groFlag: 1
  dsfEnable: 0
gwConfig: smf
gwRedundancy:
  active: 1
lmgScale:
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 90
llbScale:
  minReplicas: 0
  maxReplicas: 0
  targetCPUUtilizationPercentage: 90
resources:
  loam:
    cpu: {{ paco_sw.smf.loam.cpu}}
    memory: {{ paco_sw.smf.loam.memory}}
    nodeSelector: {}
  lmg:
    cpu: {{ paco_sw.smf.lmg.cpu}}
    memory: {{ paco_sw.smf.lmg.memory}}
    multus:
{% for pf in (hostvars['worker0']['eth_name']) %}  
    - resourceName: gke/sriov_iavf_{{ loop.index }}
      numDevices: {{ paco_sw.smf.multus }}
{% endfor %}
    nodeSelector: {}
  llb:
    cpu: {{ paco_sw.smf.llb.cpu}}
    memory: {{ paco_sw.smf.llb.memory}}
    multus:
{% for pf in (hostvars['worker0']['eth_name']) %}  
    - resourceName: gke/sriov_iavf_{{ loop.index }}
      numDevices: {{ paco_sw.upf.multus * paco_sw.upf.llb.enable }}
{% endfor %}
  nasc:
    cpu: {{ paco_sw.smf.nasc.cpu}}
    memory: {{ paco_sw.smf.nasc.memory}}
  logging:
    cpu: {{ paco_sw.smf.logging.cpu}}
    memory: {{ paco_sw.smf.logging.memory}}
  awsSideCar:
    cpu: {{ paco_sw.smf.awsSideCar.cpu}}
    memory: {{ paco_sw.smf.awsSideCar.memory}}
storage:
#pvCreation to be set to 0 in case Persistent Volume already created
  pvCreation: 1
  parentPath: /mnt/glusterfs/
  pvLogsName: logs-volume-smf
  pvStorageClass: manual
  pvLogsClaimName: logs-volume-claim
  pvSize: 1Gi
  cfSize: 1Gi
  cfAInfo:
  - pvName: smf-cf1-a-volume
    pvcName: cf1-a-volume-claim
  - pvName: smf-cf2-a-volume
    pvcName: cf2-a-volume-claim
  cfBInfo:
  - pvName: smf-cf1-b-volume
    pvcName: cf1-b-volume-claim
  - pvName: smf-cf2-b-volume
    pvcName: cf2-b-volume-claim
rtScheduling:
  enable: 0
  cgroupHostPath: /sys/fs/cgroup/cpu,cpuacct/
loamB:
  enable: 0
podsecuritypolicy:
  create: false
peers:
#  nrf:
#    ip: 10.200.197.200
#    port: 8080
#    uuid: abcdef00-b261-40a8-b605-6d301c3d0000
#    interface: sigRefPointIf
  upf:
    peerList:
    - ip: {{ multus_networks.multus_3gpp_internal.itfce_cidr[1] | ansible.netcommon.nthhost(70) }}
      apn:
      - name: demo.nokia.mnc100.mcc234.gprs
        uepool:
          name: pool1
          ipv4Prefix: {{ multus_networks.multus_gi_n6.pool_cidr | ansible.netcommon.ipaddr('net') }}
    interface: sigRefPointIf
  amf:
     ip: {{ multus_networks.multus_3gpp_external.itfce_cidr[1] | ansible.netcommon.nthhost(102) }}
     port: 8080
     uuid: 20e0b0c3-82e1-44a4-82ab-a065d80a3b93 
     interface: sigSba
  udm:
     ip: 172.16.10.2
     port: 8081
     uuid: f4a4a1e4-a134-4967-a55f-6db4fb8d2e0b
     interface: sigSba
slice:
- sst: 1
  sd: abcdef
plmn:
- mcc: "234"
  mnc: "100"
uuid: 842887ce-329d-4add-9a1c-e7dd03faa00e
network:
  interface:
  - name: sigRefPointIf
    ip: {{ multus_networks.multus_3gpp_internal.itfce_cidr[1] | ansible.netcommon.nthhost(60) }}
    subnet: {{ multus_networks.multus_3gpp_internal.itfce_cidr[1] | ansible.netcommon.ipaddr('prefix') }}
    port: 1/2/1
    bfd: false
  - name: sigSba
    ip: {{ multus_networks.multus_3gpp_sba.itfce_cidr[1] | ansible.netcommon.nthhost(60) }}
    subnet: {{ multus_networks.multus_3gpp_sba.itfce_cidr[1] | ansible.netcommon.ipaddr('prefix') }}
    port: 1/2/2
    bfd: false
  - name: system
    ip: 10.20.30.60
    subnet: 32
    port: system
    bfd: false
  staticRoute:
  - subnet: 0.0.0.0/0
    nextHop:
    - {{ multus_networks.multus_3gpp_sba.itfce_cidr[1] | ansible.netcommon.nthhost(1) }}
    bfd: false
  bgp:
apn:
- name: demo.nokia.mnc100.mcc234.gprs
  uepool:
  - router: Base
    name: pool1
uepool:
- router: Base
  name: pool1
  ipv4Prefix: {{ multus_networks.multus_gi_n6.pool_cidr | ansible.netcommon.ipaddr('net') }}
cnfName: smf
