network:
  version: 2
  renderer: networkd
 
  vlans:
    {{multus_networks.ipvlan_name}}.{{multus_networks.multus_mgmt.vlan[0]}}:
      id: {{multus_networks.multus_mgmt.vlan[0]}}
      link: {{multus_networks.ipvlan_name}}
      dhcp4: false
    {{multus_networks.ipvlan_name}}.{{multus_networks.multus_3gpp_internal.vlan[0]}}:
      id: {{multus_networks.multus_3gpp_internal.vlan[0]}}
      link: {{multus_networks.ipvlan_name}}
      dhcp4: false
    {{multus_networks.ipvlan_name}}.{{multus_networks.multus_3gpp_external.vlan[0]}}:
      id: {{multus_networks.multus_3gpp_external.vlan[0]}}
      link: {{multus_networks.ipvlan_name}}
      dhcp4: false
    {{multus_networks.ipvlan_name}}.{{multus_networks.multus_3gpp_sba.vlan[0]}}:
      id: {{multus_networks.multus_3gpp_sba.vlan[0]}}
      link: {{multus_networks.ipvlan_name}}
      dhcp4: false
    {{multus_networks.ipvlan_name}}.{{multus_networks.multus_gi_n6.vlan[0]}}:
      id: {{multus_networks.multus_gi_n6.vlan[0]}}
      link: {{multus_networks.ipvlan_name}}
      dhcp4: false