apiVersion: v1
kind: ConfigMap
metadata:
  name: sriovdp-config
  namespace: kube-system
data:
  config.json: |
    {   
        "resourceList": [
            {   
                "resourceName": "sriov_iavf_1",
                "resourcePrefix": "gke",
                "selectors": { 
                    "pfNames": ["ens2f0"]
                }
            }
            ,   
            {   
                "resourceName": "sriov_iavf_2",
                "resourcePrefix": "gke",
                "selectors": { 
                    "pfNames": ["ens2f1"]
                }   
            }     
        ]       
    } 